@tailwind base;
@tailwind components;
@tailwind utilities;




.App {
  text-align: center;
}

.logo {
  pointer-events: none;
  background-image: url("./components/logo.png");
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  position: top;
}

.logo[darkMode] {
  pointer-events: none;
  background-image: url("./components/dark-chad.png");
  background-repeat: no-repeat;
  -moz-background-size: cover;
  background-size: cover;
  position: top;
}

.header {
  position: top;
  display: grid;
}

.footer {
  position: middle;
  display: grid;
  font: 'Bubble Frum 3D Demo';
  position: middle, fixed;
}


@media (prefers-reduced-motion: no-preference) {
  .logo {
   animation: logo-bounce ease infinite 10s;
   background-image: url("./components/logo.png");

  }
}

@media (prefers-color-scheme: dark) {
  .dark {
    background: rgb(0, 0, 0);
    color: white;
  }
  .logo {
    animation: logo-bounce ease infinite 10s;
    background-image: url("./components/dark-chad.png");
  }
}

@media (prefers-color-scheme: light) {
  .day.light-scheme {
    background: white;
    color: rgb(0, 0, 0);
    background-image: url("./components/logo.png");   
  }
  .logo {
  animation: logo-bounce ease infinite 10s;
  background-image: url("./components/logo.png");

      
    }
  
}

@font-face {
  font-family: "Bubble";
  src: local('Bubble'), url("./components/bubble.ttf") format('truetype');

}


@keyframes logo-bounce {
  0% {
     transform: translateY(100%);
  }
  50% {
    transform: translateY(50%); 
  }
  100%{
  transform: translateY(100%);
  }
}