@tailwind base;
@tailwind components;
@tailwind utilities;


.App {
  text-align: center;
}

.logo {
  pointer-events: none;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  position: top;
 }


.header {
  position: top;
  display: grid;
}

.footer {
  position: middle;
  display: grid;
  font: 'Bubble Frum 3D Demo';
  position: middle, fixed;
}

@media (min-width: 640px) { 
  .logo{
    src: url("./components/dark-chad.png"); 
    opacity: 0.5;
    background-size: cover; 
  }

}

@media (prefers-reduced-motion: no-preference) {
  .logo {
   animation: logo-bounce ease infinite 10s;
   
  }
}

@media (prefers-color-scheme: dark) {
  .dark {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }
  .logo {
    src: url("./components/dark-chad.png")
  }
}

@media (prefers-color-scheme: light) {
  .light {
    background: rgb(248, 248, 248);
    color: rgb(1, 1, 8);
    src: url("./components/logo.png")

  }  
}

@media (prefers-color-scheme: no-preference) {
  .light {
    background: rgb(248, 248, 248);
    color: rgb(1, 1, 8);
    src: url("./components/logo.png")

  }  
}



@font-face {
  font-family: "Bubble";
  src: local('Bubble'), url("./components/bubble.ttf") format('truetype');
}


@keyframes logo-bounce {
  0% {
     transform: translateY(100%);
  }
  50% {
    transform: translateY(50%); 
  }
  100%{
  transform: translateY(100%);
  }
}